﻿/* Container Style */
#container  { background-color:#ffffff; width:100%; height:100%; margin:0 auto; }
#header     { background-color:#FFAE64; height:20%; }
#content    { background-color:#ffffff; width:96%; height:80%; margin:4px }
#footer     { background-color:#ffffff; width:100%; height:10%; }

/* Base style */
.defaultStyle { 
  font-family: sans-serif; 
  font-size: 15px;
  color: #FF9A3D;
}

.linkButtonText {
  font-family: sans-serif; 
  font-size: 15px;
}

.homepageTitle {
  font-family: sans-serif;
  font-size: 25px;
  color: #ffffff;
}

.menuLabel {
  font-family: sans-serif;
  font-size: 25px;
  color: #FFAE64;
  font-weight: bold;
}

.subMenuLabel {
  font-family: sans-serif;
  font-size: 20px;
  color: #FFAE64;
}

.navigationLabel {
  width: 100px;
  background-color: #FFE1C6;
  color: #FF7F09;
  text-align: center;
  height: 30px;
  line-height: 30px;
  margin-right: 5px;
  font-family: sans-serif;
}

.searchCommon {
  font-family: sans-serif;
  font-size: 15px;
  color: #FFAE64;
}

.addRecipeBigText {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #FFAE64;
}

.addRecipeMediumText {
  font-family: sans-serif;
  font-size: 15px;
  color: #FFAE64;
}

.addRecipeSmallText {
  font-family: sans-serif;
  font-size: 12px;
  color: #FFAE64;
}

.addRecipeError {
  font-family: sans-serif;
  font-size: 15px;
  color: #ff0000;
  margin-right: 3px;
}

.setupBigText {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #FFAE64;
}

.copyRight {
    font-family: sans-serif;
    font-size: 15px;
    color: #FFAE64;
}
.mGrid {   
    width: 100%;   
    background-color: #ffffff;   
    margin: 5px 0 10px 0;   
    border: solid 1px #FFAE64;   
    border-collapse:collapse;   
}  
.mGrid td {   
    padding: 2px;   
    border: solid 1px #FFAE64;     
    font-family: sans-serif;
}  
.mGrid th {   
    padding: 4px 2px;   
    color: #FF7F09;   
    background: #FFE1C6 url(grd_head.png) repeat-x top;   
    border-left: solid 1px #FFAE64;   
    font-size: 0.9em;   
}  

.gridHeader {
    font-family: sans-serif;
    color: #FF9A3D;
    font-weight: bold;
    font-size: 15px;
    background: #FFE1C6;
}

.gridItem {
    font-family: sans-serif;
    color: #FF9A3D;
    font-size: 15px;
}
