﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<asp:Content ID="Content2" ContentPlaceHolderID="MenuCntHolder" Runat="Server">
        <img src="images/home_title_image.png" />
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="BodyCntHolder" Runat="Server">
    <p class="menuLabel">Home</p>
    <br />
    <img src="images/home_image1.jpg" width ="500" height ="400" />
    <br />
    <p class ="defaultStyle">Hello! This is Yeonju's homemade recipe site. 
       <br />
       This site focus on easy and simple recipes! Here's recipes could be useful for students living alone.
    </p>
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="BottomCntHolder" Runat="Server">
</asp:Content>

