﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Welcome, Yeonju Kim(300899110)'s recipes</title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>

</head>
<body>
    <form id="form1" runat="server">
    <div id="container">
        <div id="header">
            <br />
            <h1 class="homepageTitle">Yeonju Kim(300899110)'s recipe world!</h1>

            <asp:ContentPlaceHolder ID="MenuCntHolder" runat="server" >
            </asp:ContentPlaceHolder>
            <br />
            <br />

            <asp:Menu ID="Navigation" runat="server" Orientation="Horizontal" DataSourceID="nevigationDataSource">
                <LevelMenuItemStyles>
                    <asp:MenuItemStyle CssClass="navigationLabel" />
                </LevelMenuItemStyles>  
            </asp:Menu>   
             
            <asp:SiteMapDataSource ID="nevigationDataSource" runat="server" ShowStartingNode="False" />
             
        </div>

        <div id="content">
            <asp:ContentPlaceHolder ID="BodyCntHolder" runat="server">Main</asp:ContentPlaceHolder>
        </div>

        <div id="footer">
            <asp:ContentPlaceHolder ID="BottomCntHolder" runat="server"></asp:ContentPlaceHolder>
            <p class ="copyRight">Copyright (c) 2016 Yeonju Kim(300899110) All Rights Reserved</p>
        </div>
    </div>
    </form>
</body>
</html>

