﻿/* Container Style */
#container  { background-color:#1b1a1a; width:100%; height:100%; margin:0 auto; }
#header     { background-color:#57253F; height:20%; }
#content    { background-color:#1b1a1a; width:96%; height:80%; margin:4px }
#footer     { background-color:#1b1a1a; width:100%; height:10%; }

/* Base style */
.defaultStyle { 
  font-family: sans-serif; 
  font-size: 15px;
  color: #b9b9b9;
}

.linkButtonText {
  font-family: sans-serif; 
  font-size: 15px;
}

.homepageTitle {
  font-family: sans-serif;
  font-size: 25px;
  color: #ffffff;
}

.menuLabel {
  font-family: sans-serif;
  font-size: 25px;
  color: #6E5160;
  font-weight: bold;
}

.subMenuLabel {
  font-family: sans-serif;
  font-size: 20px;
  color: #6E5160;
}

.navigationLabel {
  width: 100px;
  background-color: #3F0121;
  color: #6E5160;
  text-align: center;
  height: 30px;
  line-height: 30px;
  margin-right: 5px;
  font-family: sans-serif;
}

.searchCommon {
  font-family: sans-serif;
  font-size: 15px;
  color: #b9b9b9;
}

.addRecipeBigText {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #b9b9b9;
}

.addRecipeMediumText {
  font-family: sans-serif;
  font-size: 15px;
  color: #b9b9b9;
}

.addRecipeSmallText {
  font-family: sans-serif;
  font-size: 12px;
  color: #b9b9b9;
}

.addRecipeError {
  font-family: sans-serif;
  font-size: 15px;
  color: #ff0000;
  margin-right: 3px;
}

.setupBigText {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #b9b9b9;
}

.copyRight {
  font-family: sans-serif;
  font-size: 15px;
  color: #b9b9b9;
}

.favoriteCheckBox label {
  font-family: sans-serif;
  font-size: 15px;
  color: #b9b9b9;
}

.mGrid {   
    width: 100%;   
    background-color: #1b1a1a;   
    margin: 5px 0 10px 0;   
    border: solid 1px #57253F;   
    border-collapse:collapse;   
}  
.mGrid td {   
    padding: 2px;   
    border: solid 1px #57253F;     
    font-family: sans-serif;
}  
.mGrid th {   
    padding: 4px 2px;   
    color: #6E5160;   
    background: #3F0121 url(grd_head.png) repeat-x top;   
    border-left: solid 1px #57253F;   
    font-size: 0.9em;   
}  

.gridHeader {
    font-family: sans-serif;
    color: #b9b9b9;
    font-weight: bold;
    font-size: 15px;
    background: #3F0121;
}

.gridItem {
    font-family: sans-serif;
    color: #b9b9b9;
    font-size: 15px;
}